<h1 class="text-center">HELLO KODO</h1>

<div class="latest_events">
  <h3>LATEST EVENTS : </h3>
  <% e = Event.last(3) %>
  <% e.each do |event| %>
    <h6><%= event.title %></h6>
  <% end %>
</div>
